apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app-gitops
  name: playground-gitops
  namespace: to_be_replaced_ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-gitops
  strategy: {}
  template:
    metadata:
      labels:
        app: app-gitops
    spec:
      volumes:
      - name: app-vol
        emptyDir: {}
      serviceAccountName: default
      containers:
      - image: to_be_replaced_image
        name: gitops-container
        volumeMounts:
        - mountPath: /var/cache/nginx
          name: app-vol
        securityContext:
          runAsNonRoot: true
          runAsUser: 101
          readOnlyRootFilesystem: true
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: app-gitops-svc
  name: playground-gitops-svc
  namespace: to_be_replaced_ns
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: app-gitops
  type: NodePort