apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app-gitops
    test: XD
  name: playground-gitops
  namespace: gitops-play
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-gitops
      test: XD
  strategy: {}
  template:
    metadata:
      labels:
        app: app-gitops
        test: XD
    spec:
      containers:
      - image: lbohdan93/playground-gitops:00767b2065b9393a44bbf659696e87cb55783fd3
        name: gitops-container

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: app-gitops-svc
    test: XD
  name: playground-gitops-svc
  namespace: gitops-play
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: app-gitops
    test: XD
  type: NodePort