name: Build & Push
# Checking trigger
on:
  push:
    branches: 
    - main
    paths:
      - "docker-app/**"

env:
  DOCKER_APP_NAME: playground-gitops

jobs:
  build-and-push-docker-image:
    name: Build Docker image and push to dockerhub repo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ DOCKER_APP_NAME }}:latest
